[Desktop Entry]
Name=finalize install
Comment=finalise install GUI
Exec=kdesu -c "$HOME/workspace/bash/install/postinstall -k"
Icon=package
Type=Application
Categories=System
